/*====================================

CSS RESET - MeyerWeb.com

=====================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*====================================
		General Page Style
=====================================*/
*
{
	margin:0;
	padding:0;
	outline:0;
	border:0;
	text-decoration:none;
}
body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	background:#f7f7f7;
	color:#494f5e;
	line-height:1.5em;
}
.container
{
	width:960px;
	margin:0 auto;
	position:relative;
}
h2,h3,h4,h5,h6
{
	color:#434853;
	padding-bottom:10px;
}
a
{
	color:#434853;
}
h2
{
	font-family:'SignikaBold',Arial, Helvetica, sans-serif;
	font-size:1.5625em;
}
h3
{
	font-family:'SignikaSemibold',Arial, Helvetica, sans-serif;
	font-size:1.125em;
}
h4,h5
{
	font-family:'SignikaRegular',Arial, Helvetica, sans-serif;
}
h4
{
	font-size:1em;
}
h5,p
{
	font-size:.875em;
}
a,h6
{
	font-size:.75em;
}
strong
{
	font-weight:bold;
}
.white
{
	background:#fff !important;
	border: 1px solid #DDDDDD
}
input[type=submit]
{
	cursor:pointer;
}
.center
{
	text-align:center !important;
}
label
{
    display: inline-block;
    font-family: 'SignikaRegular';
    font-size: 1.15em;
    width: 130px;
}
.submitBtn-margin-left
{
	margin-left:10px !important;
}
select
{
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #DEDEDE;
	color:#B2B2B2;
}
select:focus,select.active
{
	color:#666;
	border:1px solid #b5b5b5;
}
select option
{
	vertical-align:middle;
	padding-right:10px;
	width: 203px;
}
/*===============
		Ajax Responses Styles
================*/
.loader
{
    display: inline-block;
    width: 25px;
}
.loader img
{
	display:none;
	margin-left:10px;
}
.ajaxResponse
{
	display: block;
    font-size: 0.875em;
    margin-top: 10px !important;
	background:#fff8b0;
	font-weight:bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:2px;
}
.failedResponse
{
	border: 1px solid #FF0000;
}
.successfulResponse
{
	border: 1px solid #4EAF00;
}
.success
{
	margin-left: 20px;
    margin-right: 10px;
	background:url(../images/tick.png) no-repeat;
	width:16px;
	height:14px;
	display:inline-block;
	vertical-align: middle;
}
.failure
{
	margin-left: 20px;
    margin-right: 10px;
	background:url(../images/warning.png) no-repeat;
	width:14px;
	height:14px;
	display:inline-block;
	vertical-align: middle;
}
/*====================================
		Header
=====================================*/
header
{
	background:url(../images/header-bg.png) #37414d repeat-x;
	border-bottom:1px solid #fff;
}
header .container
{
	min-height:79px;
}
#logo
{
	padding-top:22px;
	float:left;
}
#primary-nav
{
	float:right;
	line-height:30px;
	padding-top:26px;
}
#primary-nav li
{
	display:inline-block;
	height:30px;
	line-height:30px;
	padding-left:12px;
	margin-left:10px;
}
#primary-nav a
{
	display:block;
	height:30px;
	color:#fff;
	font-weight:bold;
	font-size:0.875em;
	padding-right:12px;
	text-shadow:0 1px 1px rgba(0,0,0,0.2);
}
#primary-nav li:hover,#primary-nav li.active
{
	background:url(../images/nav-hover.png) left top no-repeat;	
}
#primary-nav li:hover a,#primary-nav li.active a
{
	background:url(../images/nav-hover.png) right top no-repeat;	
}

/*====================================
		Admin Dashboard
=====================================*/
#dashboard
{
	background:url(../images/dashboard-bg.png) repeat;
	border-bottom:2px solid #cad7e2;
}
#dashboard-toggle
{
	width:122px;
	height:26px;
	display:block;
	position:absolute;
	right:0;
	bottom:-27px;
	background:url(../images/dashboard-toggle-button.png) no-repeat;
	text-indent:-99999px;
	text-transform:uppercase;
	z-index:9;
}
#dashboard-toggle.dashboard-toggle-off
{
	background-position:0 -26px;
}
#dashboard-message
{
	float:left;
	width:315px;
	padding:30px 0;
}
#dashboard-message p
{
	color:#6c7487;
	padding-left:1px;
	padding-top:10px;
}
#dashboard-message p strong
{
	color:#434853;
}
#dashboard-options
{
	padding-top:70px;
	float:right;
	width:645px;
}
#dashboard-options ul
{
	float:right;
	display:inline-block;
}
#dashboard-options li
{
	display:inline-block;
	text-align:center;
	width:120px;
	line-height:18px;
	vertical-align:top;
	padding-left:30px;
	padding-bottom:50px;
}
#dashboard-options li img
{
	display:block;
	margin:0 auto;
}
#dashboard-options li a
{
	font-family: 'SignikaSemibold';
}
#dashboard-options li:hover a,#dashboard-options li a.active
{
	text-decoration:underline;
}


/*====================================
		Sidebar
=====================================*/
#content .container
{
	background:url(../images/content-bg.png) repeat-y;
}
#sidebar 
{
	width:226px;
	padding:0 12px;
	padding-bottom:20px;
	padding-top:10px;
	float:left;
}
#sidebar h4
{
	padding-bottom:5px;
	width:239px;
	margin-left:-12px;
	padding-left:12px;
	margin-top:40px;
	background:url(../images/sidebar-separator.png) 0 bottom repeat-x
}
#sidebar li
{
	font-size:0.75em;
}
#sidebar li span.data
{
	font-weight:bold;
}
#sidebar h5
{
	padding-top:18px;
	padding-bottom:0;
	font-size:1.167em;
}

/*====================================
		Main
=====================================*/
#main
{
	float:right;
	width:680px;
	padding-bottom:20px;
	padding-top:10px;
}
#main h3 {
    background: url(../images/sidebar-separator.png) repeat-x 0 bottom;
    margin-top: 40px;
    padding-bottom: 5px;
}
#main table
{
	margin:20px 0;
}
#main table caption
{
	display:none;
}
.mini-module-container
{
	margin-top:20px;
	padding:20px 10px;
	font-size:0.875em;
}
.mini-module-container form
{
	max-width:70%;
	margin:0 auto;
}
.mini-module-container form p
{
	 margin: 16px 0;
}
.mini-module-container input[type=text],.mini-module-container textarea
{
	border:1px solid #dedede;
}
.mini-module-container input[type=text].large
{
	width:280px;
	height:26px;
	padding:3px 10px;
	color: #b2b2b2;
}
.mini-module-container input[type="text"]
{
    color: #B2B2B2;
    height: 20px;
    padding: 3px 5px;
    width: 220px;
}
.mini-module-container input[type=text]:hover,.mini-module-container input[type=text]:focus,.mini-module-container input[type=text].active
{
	border:1px solid #b5b5b5;
	color: #666;
}
.mini-module-container input[type=submit]
{
	height:32px;
	display:inline-block;
	padding:0 15px;
	line-height:32px;
	vertical-align:middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bolder;
	color: #5A7D0F;
	text-shadow:0 1px 0 #5A7D0F,0 2px 0 #d1ee90;
	letter-spacing:0.08em;
}
.mini-module-container input[type=submit].green
{
	background:url(../images/submit-green.png) repeat-x;
	border:1px solid #91b700;
}
.mini-module-container input[type=submit].green:active,.mini-module-container input[type=submit].green:hover
{
	background-position:0 -33px;
}
.mini-module-container .ajaxResponse
{
	margin:0 auto;
}
/*===Manage Departments===*/
#manage-departments .mini-module-container div
{
	max-width:430px;
	margin:0 auto;
}
#department-display
{
	width:430px;
	margin:0 auto;
	padding-top:10px;
}
#department-display p
{
	margin-bottom:10px;
}
#department-display h4
{
	padding-bottom:0;
}
#department-display ul
{
	padding-top:5px;
}
#department-display li
{
	display:inline-block;
	padding-right: 10px;
    position: relative;
	background:#DBEBF8;
    font-size: 1em;
    margin-bottom: 6px;
    padding-left: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right:2px;
}
#department-display li a {
    background: url(../images/cross.png) right center transparent no-repeat;
    display: block;
    height: 24px;
    line-height: 24px;
    width: auto;
	color:#494F5E;
	padding-right:20px;
	font-size:.875em;
}
#department-display li:hover
{
	background:#494F5E;
}
#department-display li:hover a
{
	color:#fff;
}

/*===Manage Students===*/
#displayStudent table
{
	font-size:.6em;
}
#displayStudent table
{
	height:auto;
}
#displayStudent th
{
	font-weight:bold;
}
#displayStudent th,#displayStudent td
{
	max-width:100px;
	padding: 0 7px;
	word-wrap: break-word;  
}

/*========================
		Pagintion
=========================*/
#pagination
{
	margin:0 auto;
	text-align:center;
}
#pagination li
{
	display:inline-block;
	*display:inline;
	zoom:1;
}
#pagination li a
{
	display:block;
	width:30px;
	height:30px;
	background:url(../images/pagination/pagination-default.png);
	line-height:30px;
	text-align:center;
	font-size:11px;
	font-weight:bold;
}
#pagination li a:hover
{
	background:url(../images/pagination/pagination-active.png);
}
#pagination li.active a
{
	background:url(../images/pagination/pagination-active.png) !important;
}
#pagination li.prev,#pagination li.next
{
	width:90;
	height:30px;
	background:url(../images/pagination/pagination-button.png) no-repeat;
}
#pagination li.prev a
{
	display:block;
	background:url(../images/pagination/pagination-arrow-left.png) 11px 9px no-repeat;
	padding-left:26px;
	width:64px;
	text-align:left;
}
#pagination li.next a
{
	display:block;
	background:url(../images/pagination/pagination-arrow-right.png) 63px 9px no-repeat;
	padding-left:14px;
	width:76px;
	text-align:left;
}
#pagination li.prev a, #pagination li.next a
{
	height:30px;
	line-height:30px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:30px;
}